<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite" verbose="2" parallel="none">
    <test name="Appium Tests">
        <packages>
            <package name="tests" />
            <package name="tests.gestures" />
        </packages>
    </test>
</suite>